@media screen and (max-width: 990px){
    #header {
        display: none;
    }

    #home_page {
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        box-sizing: border-box;
        margin: 0;
    }
    #select_page {
        flex-wrap: wrap;
    }
    .page > p > img {
        width: 100%;
        height: auto;
    }
    #bp1 {
        width: 100%;
    }
    .button_page {
        padding: 0;
    }
    .button_page > a {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 565px){
    #home_page {
        font-size: 2rem;
    }
    .page > h2{
        font-size: 2.5rem;
    }
    .page > p {
        font-size: 2rem;
    }
}