@media screen and (max-width: 1400px){
    #footer {
        height: unset;
    }
    #footer_background {
        flex-direction: column;
        text-align: center;
    }
    #barre {
        display: none;
    }
    #form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #construction {
        margin: 5% 0 5% 0;
    }
    #d_footer {
        width: 100%;
        height: 80vh;
    }
    input {
        font-size: 24px;
    }
}

@media screen and (max-width: 990px){
    #header {
        display: none;
    }
    #home_page {
        height: 100vh;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        box-sizing: border-box;
        margin: 0;
    }
    #home_page_button {
        margin-bottom: 80px;
    }
    #select_page {
        flex-wrap: wrap;
        height: 100vh;
    }
    .page  > img {
        width: 40%;
        height: auto;
    }
    .page > p {
        width: 100%;
        margin: 0 4px 0 4px;
    }

    .button_page {
        padding: 0;
    }
    .button_page > a {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 565px){
    #home_page {
        font-size: 2rem;
    }
    .page > h2{
        font-size: 2.5rem;
    }
    .page > img {
        width: 60%;
    }
    .page > p {
        font-size: 2rem;
        margin: 0;
    }
    input {
        font-size: 20px;
    }
}