:root {
    --color-white: #fff;
    --background-opacity: #20202062;
    --font-normal: normal;
    --font-bold: bold;
    --border-left: 4%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00504e;
    font-family: 'Poppins', sans-serif;
}

noscript {

}

#content {
    background: url(file/waitomo-glowworm-grottes-une.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#background {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}
#accueil {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid var(--color-white); ;
    background-color: var(--background-opacity);
    padding: 1%;
}
#header > p > button {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;

}
#header > p > button:hover {
    transition: all 300ms;
    opacity: 60%;
}
#head_page {
    display: flex;
    justify-content: space-around;
}
#head_page > p > button {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    border: none;
    background: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#head_page > p > button:hover {
    transition: all 300ms;
    opacity: 60%;
}

#home_page {
    height: 80vh;
    overflow: hidden;
    margin-bottom: 2%;
    color: var(--color-white);
    font-size: 48px;
    margin-left: var(--border-left);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home_page_button {
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #00B0A6 2.5%, #1DF8FA 100%);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    height: 63px;
    width: 260px;
    font-size: 42px;
    color: var(--color-white);
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
}
#home_page_button:hover {
    background: linear-gradient(90deg, #1df8fa 2.5%, #00afa6 100%);
    transforme: translateX(30px) ;
    transition: transform 2s ease;
}
#select_page {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}
#select_page > p > button {
    border: none;
    background: none;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}
#select_page > p > button:hover {
    color: rgba(255, 255, 255, 0.78);

}
#select_page > p > button > p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}
#select_page > p > button > img {
    height: 40vh;
    box-shadow: 0px 10px 30px 10px #00000080;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
#select_page > p > button > img:hover {
    box-shadow: 10px 30px 75px 30px #118d8f46;
    height: 41vh;
}

.page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
}
.page > img {
    width: 20%;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px 10px #00000080;
    transition: all 0.3s ease-in-out;
    margin-top: 80px;
    margin-bottom: 0;
}
.page > img:hover {
    box-shadow: 10px 20px 45px 20px #118d8f46;
    width: 20.5%;
}
.page > h2 {
    font-size: 52px;
    margin-top: 160px;
    margin-bottom: 140px;
}
.page > p {
    width: 40%;;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.84);
    line-height: 250%;


}
.button_page {
    margin-top: 140px;
    margin-bottom: 80px;
}
.button_page > a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    background-color: #00B0A6;
    box-shadow: 0px 29px 40px 0px #00000040;
    padding: 20px 50px 20px 50px;
    border-radius: 70px;
    transition: all 0.3s ease-in-out;
}
.button_page > a:hover {
    color: #00B0A6;
    background-color: white;
}

#footer {
    color: white;
    justify-content: center;
    align-items: center;
    height: 89vh;
}
#footer_background {
    display: flex;
    padding: 2.5rem;
}
#g_footer {
    display: flex;
    flex-direction: column;
}
#g_footer > h2 {
    font-size: 48px;
}
#g_footer > p {
    font-size: 24px;
}
#g_footer > p > a {
    outline: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#barre {
    margin: 0 4% 0 4%;
    background-color: white;
    width: 1px;
}
#d_footer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#d_footer > h2 {
    font-size: 48px;
}
#d_footer > p {
    text-align: center;
}
#form {
    display: flex;
}
input {
    background-color: #505050;
    border: none;
    margin-top: 40px;
    font-size: 32px;
    color: white;
}
#input_email {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px 0 0 10px;
    width: 60%;
}
#submit {
    background-color: #00afa6;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    transition: all 0.3s ease-in-out;
}
#submit:hover {
    background-color: white;
    color: #00afa6;
}
#carte {
    display: flex;
    width: 100%;
    height: 100%;
}

#construction {
    animation: appdpp 1s ease-in-out infinite alternate;
    text-align: center;
    margin: 20%;
}

.accueil_open {
    animation: fondu_apparition 750ms forwards;
}
.accueil_close {
    animation: fondu_disparition  1.5s forwards;
}
.header_apparition {
    animation: deplacement_gauche_apparition 1.5s forwards;
}
.header_disparition {
    animation: deplacement_gauche_disparition 1.5s forwards;
}
.select_page_apparition {
    animation: fondu_content_apparition 750ms forwards;
}
.select_page_disparition {
    animation: fondu_content_disparition 750ms forwards;
}
.page_apparition {
    animation: fondu_content_apparition 750ms forwards;
}
.page_disparition {
    animation: fondu_content_disparition 750ms forwards;
}
.select_apparition {
    animation: element_droite_apparition 750ms forwards;
}
.select_disparition {
    animation: element_droite_disparition 750ms forwards;
}
.bg_changer_on {
    animation: bg_changer_on 750ms forwards;
}
.bg_changer_off {
    animation: bg_changer_off 750ms forwards;
}
.blur_on {
    animation: image_background_changer_blur 750ms forwards;
}
.blur_off {
    animation: image_background_changer_noblur 750ms forwards;
}

@keyframes fondu_disparition {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
@keyframes fondu_apparition {
    to {
        opacity: 1;
        display: flex;
    }
    from {
        opacity: 0;
    }
}
@keyframes fondu_content_apparition {
    to {
        opacity: 1;
        display: flex;
        /*backdrop-filter: blur(100px);*/
        /*background-color: rgba(0, 0, 0, 0.315);*/
    }
    from {
        opacity: 0;
        /*backdrop-filter: blur(100px);*/
        /*background-color: rgba(0, 0, 0, 0.315);*/
    }
}
@keyframes fondu_content_disparition {
    from {
        opacity: 1;
        display: flex;
        /*backdrop-filter: blur(100px);*/
        /*background-color: rgba(0, 0, 0, 0.315);*/
    }
    to {
        opacity: 0;
        /*backdrop-filter: blur(100px);*/
        /*background-color: rgba(0, 0, 0, 0.315);*/
    }
}
@keyframes deplacement_gauche_apparition {
    from {
        position: relative;
        left: -100%;
        opacity: 0;
    }
    to {
        position: relative;
        left: 0;
        opacity: 1;
        backdrop-filter: blur(100px);
        background-color: rgba(0, 0, 0, 0.315);
    }
}
@keyframes deplacement_gauche_disparition {
    to {
        position: relative;
        left: -100%;
        opacity: 0;
    }
    from {
        position: relative;
        left: 0;
        opacity: 1;
    }
}
@keyframes element_droite_apparition {
    from {
        position: relative;
        right: -100%;
        opacity: 0;
    }
    to {
        position: relative;
        right: 0;
        opacity: 1;
    }
}
@keyframes appdpp {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}
@keyframes bg_changer_on {
    from {
        background: none;
    }
    to {
        background-color: rgba(0, 0, 0, 0.315);
        /*backdrop-filter: blur(100px);*/
    }
}
@keyframes bg_changer_off {
    to {
        background: none;
    }
    from {
        background-color: rgba(0, 0, 0, 0.315);
        /*backdrop-filter: blur(100px);*/
    }
}
@keyframes image_background_changer_blur {
    from {
        background: url(file/waitomo-glowworm-grottes-une.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    to {
        background: url(file/waitomo-glowworm-grottes-une-flou.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}
@keyframes image_background_changer_noblur {
    to {
        background: url(file/waitomo-glowworm-grottes-une.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    from {
        background: url(file/waitomo-glowworm-grottes-une-flou.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}