:root {
    --color-white: #fff;
    --background-opacity: #20202062;
    --font-normal: normal;
    --font-bold: bold;
    --border-left: 4%;
}

body {
    margin: 0;
    padding: 0;
    background: url(file/waitomo-glowworm-grottes-une.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    height:100vh;
   
}
#header {
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(1.5rem);
    border-bottom: 3px solid var(--color-white); ;
    background-color: var(--background-opacity);
    padding: 1%;
}
#header > p > a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
}

#home_page {
    height: 100vh;
    margin-bottom: 2%   ;
    color: var(--color-white);
    font-size: 48px;
    margin-left: var(--border-left);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home_page_button {
    border: none;
    pointer-events: cursor;
    background: linear-gradient(90deg, #00B0A6 2.5%, #1DF8FA 100%);
    border-radius: 10px;
    height: 63px;
    width: 260px;
    font-size: 42px;
    color: var(--color-white);
    font-weight: bold;
    justify-content: space-between;
}

#home_page_button:hover {
    background: linear-gradient(90deg, #1DF8FA  2.5%, #00B0A6 100%);
}